<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
	<!--appSettings>
		<add key="log4net.Internal.Debug" value="true"/>
	</appSettings-->
	<system.diagnostics>
		<sources>
			<source name="System.Net">
				<listeners>
					<add name="System.Net"/>
				</listeners>
			</source>
			<source name="System.Net.Http">
				<listeners>
					<add name="System.Net"/>
				</listeners>
			</source>
			
		
		</sources>
		<switches>
			<add name="System.Net" value="Verbose"/>
			<add name="System.Net.Http" value="Verbose"/>
			
		</switches>
		<sharedListeners>
			<add name="System.Net"
			  type="System.Diagnostics.TextWriterTraceListener"
			  initializeData="network.log"
			  traceOutputOptions="ProcessId, DateTime"
      />
		</sharedListeners>
		<trace autoflush="true"/>
	</system.diagnostics>
	<!--system.diagnostics>
		<trace autoflush="true">
			<listeners>
				<add
				  name="textWriterTraceListener"
				  type="System.Diagnostics.TextWriterTraceListener"
				  initializeData="log4net.txt" />
			</listeners>
		</trace>
	</system.diagnostics-->
</configuration>